@use "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.parent {
  display: grid;
  height: 100dvh;
  grid-template-columns: inmax(variables.$menu-width-min, variables.$menu-width-max) 1fr;
  grid-template-areas: "menu main main";
  overflow: hidden;
}

.menu {
  grid-area: menu;
}
.main {
  grid-area: main;
}

@media (max-widith: variables.$breakpoint-tablet) {
  .parent {
    grid-template-columns: 1fr;
    grid-template-areas:
      "menu"
      "main";
  }
}
