@use 'variables';

.menu {
  padding: 0.5rem;
  background-color: variables.$bg-color;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: variables.$border-radius-lg;
  box-shadow: variables.$shadow;
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 80px;
  margin: 20px;
  border-radius: variables.$border-radius-sm;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform-origin: center left;
  transition: width variables.$transition-speed variables.$transition-type;
  text-decoration: none;
  color: inherit;

  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border-radius: variables.$border-radius-sm;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(100%);
    transition: transform variables.$transition-speed variables.$transition-type;
    transform-origin: center right;
    background-color: variables.$bg-hover;
  }

  &:hover,
  &:focus {
    outline: 0;
    width: 130px;

    &:before,
    .link-title {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.link-icon {
  width: 40px;
  height: 40px;
  display: block;
  flex-shrink: 0;
  left: 18px;
  position: absolute;
  svg {
    width: 28px;
    height: 28px;
  }
}

.link-title {
  transform: translateX(100%);
  transition: transform variables.$transition-speed variables.$transition-type;
  transform-origin: center right;
  display: block;
  text-align: center;
  text-indent: 28px;
  width: 100%;
}

.colorPick {
  display: flex;
  flex-direction: column;

  #colorPicker {
    height: 20px;
    width: 33px;
    background-color: transparent;
    border-color: transparent;
  }
}
