$bg-color: #fff;
$bg-hover: #eee;
$shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.075);
$border-radius-lg: 15px;
$border-radius-sm: 8px;

$menu-width-min: 220px;
$menu-width-max: 320px;
$breakpoint-tablet: 900px;

$transition-speed: 0.2s;
$transition-type: ease-in;